services:
  retailcrm-api:
    build: .
    container_name: retailcrm_fastapi
    ports:
      - "8000:8000"
    env_file:
      - .env
    environment:
      - PYTHONPATH=/app
    restart: unless-stopped
